.header {
    display: flex;
    justify-content: space-between;
    align-items: top;
    background-color: #003366; 
    padding: 3vh 20vh;
    color: white;
    height: 30vh;
  }
  
  .logo img {
    height: 40px; 
  }
  
  .nav-links {
    display: flex;
    align-items: top;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    position: relative;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-link::after {
    content: ' ▼';
  }
  
  .dropdown-content {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
   
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: 1s;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;

  }
  
  .cta-button button {
    background-color: #66cc33;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .cta-button button:hover {
    background-color: #55aa33; 
  }
  